<%- include('../partials/header') %>

<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to Yelp-Camp</h1>
            <p class="lead">View our hand-picked Campgrounds</p>
            <p><a href="/campgrounds/new" class="btn btn-primary">Add new Campgrounds</a></p>
        </div>      
    </div>
    <div class="row">
        <% camps.forEach(function(camp){%>
            <div class="col-md-3 col-sm-6" >
                <div class="img-thumbnail">
                    <img src="<%=camp.image%>">
                    <div class="caption">
                        <h4><%=camp.name%></h4>
                    
                        <a href="campgrounds/<%=camp._id%>" class="btn btn-primary btn-sm">Read More</a>
                    </div>
                </div>
            </div>
              
        <%})%> 
    </div>


</div>


<%- include('../partials/footer') %>